[package]
name = "freenet-ping-app"
version = "0.1.11"
edition = "2021"

[features]
testing = ["freenet-stdlib/testing", "freenet/testing"]

[dependencies]
anyhow = { workspace = true }
chrono = { workspace = true, features = ["default"] }
clap = { workspace = true, features = ["derive"] }
freenet-stdlib = { workspace = true, features = ["net"] }
freenet-ping-types = { path = "../types", features = ["std", "clap"] }
futures = { workspace = true }
rand = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tempfile = { workspace = true }
tokio = { workspace = true }
tokio-tungstenite = { workspace = true }
tracing = { workspace = true, features = ["log"] }
tracing-subscriber = { workspace = true, features = ["env-filter"] }
humantime = "2.2.0"

[dev-dependencies]
freenet = { path = "../../../crates/core" }
serial_test = { workspace = true }
test-log = { workspace = true }
testresult = { workspace = true }

[lib]
name = "freenet_ping_app"
path = "src/lib.rs"

[[bin]]
name = "freenet-ping"
path = "src/main.rs"
